[submodule "ext/core"]
	path = ext/core
	url = https://github.com/olive-editor/core
[submodule "ext/KDDockWidgets"]
	path = ext/KDDockWidgets
	url = https://github.com/olive-editor/KDDockWidgets.git
[submodule "third_party/openfx"]
	path = third_party/openfx
	url = https://github.com/AcademySoftwareFoundation/openfx.git
	branch = main
